.form {
  margin-left: calc(50vw - 150px);
  margin-right: calc(50vw - 150px);
  margin-top: calc(50vh - 206px);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin-bottom: 1.5rem;
}

.welcome {
  text-align: center;
}
